In [14]:
import pandas as pd

In [40]:
df=pd.read_excel('Borrow Amount.xlsx')

In [41]:
df.dtypes

States            object
Code              object
Latitude         float64
Longitude        float64
Borrow_Amount      int64
dtype: object

In [42]:
df.head()

       States Code   Latitude   Longitude  Borrow_Amount
0     Alabama   AK  32.806671  -86.791130         282817
1      Alaska   AL  61.370716 -152.404419        3614454
2     Arizona   AR  33.729759 -111.431221        1181690
3    Arkansas   AZ  34.969704  -92.373123        4494733
4  California   CA  36.116203 -119.681564       43350770

### change Borrow Amount(int64) to Object(str)

In [43]:
df['Borrow_Amount'] = df['Borrow_Amount'].map('${:,.2f}'.format)

In [44]:
df.head()

       States Code   Latitude   Longitude   Borrow_Amount
0     Alabama   AK  32.806671  -86.791130     $282,817.00
1      Alaska   AL  61.370716 -152.404419   $3,614,454.00
2     Arizona   AR  33.729759 -111.431221   $1,181,690.00
3    Arkansas   AZ  34.969704  -92.373123   $4,494,733.00
4  California   CA  36.116203 -119.681564  $43,350,770.00

# Calling Plotly API

In [5]:
import plotly.plotly as py
import plotly.graph_objs as go
#Setting plotly credentials
#mantejsingh account
py.sign_in('mantejsingh','hQnYIqbxnsuRvQxkVFVW')
#NJIT account
##py.sign_in('mhd9','a7aJsSJEwfTNiZqqCBwS')

In [6]:
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

In [45]:
df['text'] = df['States'] + '<br>' +\
    'Total Outstanding Amount '+df['Borrow_Amount']

In [49]:
data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['Code'],
        z = df['Borrow_Amount'].replace('[\$,]','',regex=True).astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Millions USD")
        ) ]

layout = dict(
        title = '<b>2016 US Borrowed Loan Amount by State</b> <br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='TotalOutstandingAmount-cloropleth-map', fileopt='overwrite' )